body {
    background-color: #fdc7c7;
    color: #fb4444;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.outerinfo {
    display: flex; 
    border-radius: 1em;
    flex-wrap: wrap;
}

hr, a {color: #fb4444;}

.homepictures {display: flex; border: 10px solid #ff8686; flex-wrap: wrap; max-width: 100%;}
.homepictures img {flex: 1; max-width: 100%;}
.title {text-align: center; margin-bottom: 10px;}

.info {
    flex: 2; 
    margin: 10px 10px 20px 10px; 
    background-color: seashell; 
    border-radius: 1em;
    padding: 10px;
    flex-wrap: wrap;
}
.duomo {flex: 1; flex-wrap: wrap}

#duomo {border-radius: 1em; border: 10px solid #ff8686}

@media only screen and (max-width:600px) {
    nav a {
        max-width: 100%;
        display: block;
        margin: 10px;
    }
    span {display: none}
    .outerinfo {flex-direction: column;}
}
#affogato, #board, #pizza, #wine, #pho, #spaghetti {border: 10px solid #ff8686}

.main {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  background-color: #ff8686;
  padding: 5px;
}
.main div {
  background-color: white;
  padding: 10px;
}

.fdimages {padding: 10px}
header {text-align: center;}

.restaurants, .cafes, .bars, .gelato {display: flex;}
#pizza, #wine, #board, #affogato {float: right;}