body {
    background-color: #fee6e6;
    color: #c80404;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.outerinfo {
    display: flex; 
    flex-wrap: wrap;
}

h1, h2 {color: #fa1e1e;}
hr {color: #fa1e1e;}

.homepictures {
    display: flex; 
    border: 10px solid #ff8686;
    max-width: 100%;
    flex-wrap: wrap;
}
.homepictures img {flex: 1; max-width: 100%;}
.title {text-align: center; margin-bottom: 10px;}

#sunset, #city, #david, #bridge {max-width: 100%}

.info {
    flex: 2; 
    margin: 10px 10px 20px 10px; 
    background-color: seashell;
    padding: 10px;
    flex-wrap: wrap;
    border: 10px solid #ff8686;
}
.duomo {
    flex: 1; 
    flex-wrap: wrap;
    margin: 10px 10px 20px 10px;
}

#duomo {border: 10px solid #ff8686; max-width: 100%;}

@media only screen and (max-width:600px) {
    nav a {
        max-width: 100%;
        display: block;
        margin: 10px;
    }
    span {display: none}
    .outerinfo {flex-direction: column; max-width: 100%;}
    .homepictures {flex-direction: column;}
}

#affogato, #board, #pizza, #wine, #pho, #spaghetti {border: 10px solid #ff8686}

.main {
  display: grid;
  grid-template-areas:"menu content";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  background-color: #ff8686;
  padding: 5px;
}
.main div {
  background-color: seashell;
  padding: 10px;
}

.fdimages {padding: 10px}
header {text-align: center;}
.restaurants, .bars, .cafes, .gelato {display: flex;}
#pizza, #wine, #board, #affogato {float: right;}

main ul {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.explore {display: flex;}
.exploreimg {
    float: right; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
    flex: 2;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#gardens, #pisa {margin: 10px; border: 10px solid #ff8686}