body {
    background-color: #fdc7c7;
    color: #fb4444
}
.outerinfo {
    display: flex; 
    border-radius: 1em;
}

.homepictures {display: flex}
.title {text-align: center; padding: 10px}

.info {flex: 1; padding: 10px; background-color: seashell;}
.duomo {flex: 1}

#duomo {border-radius: 1em;}