/*General*/
body {background-color:#F5F5F5;}
p {color:#d12e80}
a {color:#3d81b8 }
h1 {color: #a72566}
h2 {color: #bc2973}
ul {color:#d12e80;}

/*Navigation Bar*/
nav {
    background-color:#ffa6c1;
    padding: 10px;
    margin-bottom: 30px
}
nav a {color: #094e86}
nav a:hover {background-color:#FFFFFF}

/*Home Page*/
.quote {float: right}
.image1 {
    float: right; 
    padding: 10px;
    max-width: 100%;
}

/*Contact Page*/
.addresses {
    display: flex;
    background-color: #fae8f1;
    border-radius: 1em;
    padding: 1em;
}
.formmap {
    display: flex; 
    background-color: #fae8f1;
    border-radius: 1em;
    padding: 20px;
    flex-wrap: wrap;
}
.address{padding: 30px;}
.form {padding: 10px;flex: 1; color:#ff87ab}
.map {flex: 3em; border-radius: 1em}
form label {color:#ff87ab}

/*Skills Page*/
.skillsheading {text-align: center;}
.firstrow {display: flex; background-color:#fae8f1; border-radius: 1em; margin-bottom: 50px;}
.skillstable {padding: 10em; margin: 0 auto; flex-basis: center;}
.skillsimage {padding: 10em; text-align: center; flex-basis: center;}

/*Media Query*/
@media only screen and (max-width:600px) {
    nav a {
        max-width: 100%;
        display: block;
        margin: 10px;
    }
    span {display: none}
}

/*Skip to Content*/
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}